.MetaDataWrapper{
    .headerWrapper{
        margin-bottom: 20px;
    }
    .ResponseWrapper{
        margin: 20px 0px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
}