// .ticket_container {
//     width: 100%;
// }
.icons {
    font-size: 33px;
}
.add_button {
    all: unset;
    cursor: pointer;
    margin-top: 4px;
}
.minus_button {
    all: unset;
    cursor: pointer;
    margin-top: 3px;
}
.modalContainer {
    border: 1px solid;
}
.modal-backdrop {
    --bs-backdrop-zindex: 0 !important;
}
.parent_container .modal {
    --bs-modal-margin: 3.5rem !important;
    overflow: hidden !important;
}
.ticketForm_body .modal_Body {
    padding: 0px 0px 0px 15px!important;
    overflow: hidden !important;
}
.btn_create {
    all: unset;
    cursor: pointer;
    background-color: #003fca;
    color: white;
    padding: 11px;
    border-radius: 5px;
    margin-right: 10px;
}
.btn_create:hover {
    background-color: rgb(9, 87, 233);
    color: #fff;
}
.row_text {
    text-align: left;
}
.header-left-content {
    display: flex;
    margin-left: 91px;
}
// .form_body {
//     // width: 100%;
//     // height: 420px;
//     padding: 10px;
//     overflow: hidden;
//     // overflow-x: hidden;
//     padding-top: 0px;
// }
// scroll bar //
// .form_body::-webkit-scrollbar {
//     width: 12px !important;
// }
// .form_body::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey; 
//     border-radius: 0px;
// }
// .form_body::-webkit-scrollbar-thumb {
//     background: grey; 
//     border-radius: 10px;
// }

.ticket_header {
    font-weight: bold;
}
.ticket_type {
    padding-left: 11px;
}
.ticket_header {
    color: black;
    font-weight: bold !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ticket_Label {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.ticket_title {
    padding-left: 1% !important;
}
.clear_btn, .save_Draft, .createBtn {
    padding: 1px 10px 1px 10px !important;
}
.clear_btn {
    box-shadow: 1px 3px 4px black;
    width: 60px;
}
.save_Draft {
    box-shadow: 2px 3px 4px black;
    margin-left: 5px !important;
}
.createBtn {
    box-shadow: 2px 3px 4px black;
}
.select_field, .fileField {
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.ticket_sub {
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.select_field .css-1n6sfyn-MenuList {
    max-height: 120px !important;
    overflow-y: auto !important;
}
.btnGroup {
    float: right;
}
.css
.select_field .css-1n6sfyn-MenuList {
    max-height: 120px !important;
    overflow-y: auto !important;
}
.modalFooter {
    margin: 0px !important;
    padding: 0px !important;
    height: 60px;
}
/* .css-1n6sfyn-MenuList {
    max-height: 120px !important;
    overflow-y: hidden !important;
} */
/* --------dynamic form------------- */
.ticketField .form-control:focus {
    border: 2px solid !important;
    border-color: #2684ff !important;
    box-shadow: unset !important;
}
.tooltip-inner {
    font-size: 11px !important;
}
.questionIcon {
    font-size: 12px;
    cursor: pointer;
}
.icon_col {
    width: 10px;
    padding: 9px 14px 0px 0px;
    margin-left: 3px;
    font-size: 12px;
}
.file_Icon {
    margin-top: 3.15px;
    margin-left: 17px;
}
.react-select-error .css-13cymwt-control {
    border: 1px solid #842029;
}
.inputTextErr {
    border: 1px solid #842029;
}
.templateError {
    border: 1px solid #842029;
}
//file component//
.Drog_Drop_Container {
    border: 1px dashed gray;
    // width: 349px;
    text-align: center; 
    // height: 55px;
    margin: 0px;
    cursor: pointer;
    padding:5px;
}
.fileErrorComp {
    border: 1px dashed #842029;
}
.File_Btn {
    align-items: center;
}
.mainFileContainer div.col-md-6 {
    padding-left: 2px !important;
}
.File_preview {
    width: 100%;
    align-items: center;
    background-color: #d0d0dd;
    margin: 0px;
}
.previewChild {
    max-height: 100px;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin-left: 1px;
}
.previewChild::-webkit-scrollbar {
    width: 8px !important;
}
.previewChild::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
}
.previewChild::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}
.file_Btn_Close {
    all: unset;
    font-size: 25px;
    color: white;
}
.file_Btn_Close:hover {
    color: red;
}
.previewContainer {
    width: 100%;
}
#fileProgress .custom-progress-bar-label {
    // border-radius: 0px !important;
    width: 100%;
    height: 10px !important;
    font-size: 9px;
}
#fileProgress .custom-progress-bar-label .progress-bar {
    padding-top: 1px;
}

// Modal css //

.custom-modal-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 19px;
}
.custom-modal-header {
    padding-bottom: 5px;
    padding-top: 11px;
}
.my-modal-body {
    padding: 0px;
}
.closeheader {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    padding: 4px;
}
.closeheader:hover {
    color: black;
    text-decoration: none;
    opacity: .60;
}
.closeCancel:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    opacity: 1;
    border-radius: 0.375rem;
}
.closeCancel {
    all: unset;
}
.css-1xc3v61-indicatorContainer {
    cursor: pointer !important;
}
.css-1fdsijx-ValueContainer {
    cursor: text !important;
}
.css-15lsz6c-indicatorContainer {
    cursor: pointer !important;
}
// .closeCancel:focus {
//     border-radius: 6px;
//     padding: 0px 2px 0px 2px;
//     border: 2px solid rgba(91, 91, 196, 0.658)
//   }
.create-icon {
  border: none !important;
  background: transparent;
  margin: 5px;
}

// .create-icon i {
//   font-size: 28px;
//   color: #fff;
//   background: #777777;
//   width: 34px;
//   height: 34px;
//   display: inline-block;
//   line-height: 34px;
// }
// .create-icon:hover i {
//   background: #f66b4e;
// }
.custom-modal {
    overflow: hidden !important;
    // padding-left: 0px !important;
    // z-index: 0 !important;
    padding-left: 0px !important;
}
.modalConatiner .modal-content {
    margin-top: 54px !important;
    border-radius: 10px !important;
}

.Toastify__toast-container {
    width: 285px;
    margin-right: -15px;
    z-index: 9999;
    margin-top: 2.3rem;
}

.carouselContainer .carousel.slide {
    display: block !important;
}

@media only screen and (max-width: 575px) {
    .modal_Body {
        height: 195px !important;
        overflow: auto;
    }
}
@media only screen and (max-width: 767px) {
    .select_field {
        padding-right: 15px !important;
    }
    .ticketField {
        padding-right: 15px;
    }
    .editorConatiner {
        margin-left: -8px !important;
    }
}
@media only screen and (max-width: 575px) {
    .ticketForm_body .modal_Body {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}
@media only screen and (max-width: 497px) {
    .modal_Body {
        height: 173px !important;
        overflow: auto;
    }
}
@media only screen and (max-width: 575px) {
    .ticketForm_body .modal_Body {
        padding-top: 0px !important;
        padding-left: 15px !important;
        padding-right: 0px !important;
        height: 127px;
    }
  }

  .darkModal {
      .modal-content {
          background: #181a1b;
      }

      .ticket_Label {
          color: #dddbd8;
      }

      .modal-header {
          border-bottom: 1px solid #495458;
      }

      .darkHead {
          color: white
      }

      .css-13cymwt-control {
          background-color: #181a1b !important;
          color: #ddd !important;
          border: 1px solid #495458;
      }

      .css-13cymwt-control:hover {
          border: 1px solid #495458;
      }

      .css-1dimb5e-singleValue {
          color: #c8c3bc !important;
      }

      .css-t3ipsp-control {
          background-color: #181a1b !important;
          border: 1px solid #495458 !important;
          box-shadow: 0 0 0 1px #484949;
      }

      .css-1nmdiq5-menu {
          background-color: #181a1b;
          box-shadow: 0px 0px 4px rgba(83, 82, 80, 0.6);
          -moz-box-shadow: 0px 0px 4px rgba(83, 82, 80, 0.6);
          -webkit-box-shadow: 0px 0px 4px rgba(83, 82, 80, 0.6);
      }

      .css-tr4s17-option {
          background-color: #212425 !important;
          color: #a49e95 !important;
      }

      .css-d7l1ni-option {
          background-color: #212425 !important;
          color: #a49e95 !important;
      }

      .css-1u9des2-indicatorSeparator {
          background-color: #495458;
      }

      .form-control {
          color: #a49e95;
          background-color: #181a1b;
      }

      .ticketField .form-control:focus {
          border: 1px solid !important;
          border-color: #728085 !important;
      }

      .form-control:disabled {
          background-color: #35393b;
      }

      .css-10wo9uf-option {
          color: #a49e95;
      }

      .questionIcon {
          color: #a49e95;
      }

      .sun-editor .se-btn-tray {
          background: #1b1d1e;
      }

      .sun-editor {
          border: 1px solid #495458;
      }

      .sun-editor .se-toolbar {
          outline: 1px solid #495458;
      }

      .sun-editor-editable {
          color: #a49e95;
          background-color: #181a1b;
      }

      .sun-editor .se-resizing-bar {
          border-top: 1px solid #495458;
          background-color: #181a1b;
      }

      .sun-editor button {
          color: #fff;
      }

      .form-check-input {
          background-color: transparent;
          border: 1px solid #495458;
      }

      .custom-modal-footer.modal-footer label {
          color: #a49e95;
      }

      .custom-modal-footer.modal-footer {
          border-top: 1px solid #495458;
      }

      .closeheader {
          color: #e8e6e3;
      }

      .sun-editor .se-btn:enabled:active {
          background-color: #35393b;
          box-shadow: none;
      }

      .sun-editor .se-btn:enabled:focus,
      .sun-editor .se-btn:enabled:hover {
          background-color: #35393b;
          box-shadow: none;
      }

      .sun-editor .se-wrapper .se-wrapper-inner {
          color: #e8e6e3 !important;
      }
      


      // .modal-dialog-scrollable .modal-content {
      //   background: red  !important;
      // }
  
  }





  // Table Eye Icon Popup box Dark Theame 
  .tableview .modal-content {
      background: #181a1b;
      border: 1px solid #383d3f;
  }

  .tableview .modal-header {
      border-bottom: 1px solid #383d3f;
  }

  .tableview .modal-footer {
      border-top: 1px solid #383d3f;
  }

  .tableview .modal-header .modal-title {
      color: #b1aaa0;
  }

  .tableview .accordion-button {
      background: #1f2123;
      border-bottom: 1px solid #383d3f !important;
      box-shadow: none;
      color: #b1aaa0;
  }

  .tableview .accordion-button:not(.collapsed) {
      color: var(--bs-accordion-active-color) !important;
  }

  .tableview .accordion-item {
      border: 1px solid #383d3f !important;
  }

  .tableview .accordion-body {
      background: #1f2123 !important;
      color: #c6c3bd !important;
  }

  .tableview .nav-tabs .nav-item.show .nav-link,
  .tableview .nav-tabs .nav-link.active {
      color: #b1aaa0;
      background-color: transparent !important;
      border-color: var(--bs-nav-tabs-link-active-border-color);
  }

  .tableview ul.nav.nav-tabs {
      border-bottom: 1px solid #383d3f !important;
  }

  .tableview .tab-content .card {
      background: #181a1b;
      border-color: #383d3f;
  }

  .tableview .tab-content .card .cmn-card {
      background-color: #313537;
  }

  .tableview .tab-content .card .email-buttons i {
      color: #b1aaa0;
  }

  .tableview .tab-content .cmn-styles {
      background: transparent;
  }

  .tableview .custom-accordion.accordion .accordion-item {
      border: none;
      background: transparent;
  }

  .tableview .custom-accordion.accordion .accordion-body {
      background: transparent !important;
  }

  .tableview .cmn-styles {
      margin-bottom: 10px;
  }

  .tableview header.sc-bBABsx.bbLEEq {
      background: transparent;
  }

  .tableview .cjhsUt {
      background: #575e62 !important;
  }

  .tableview .eyxSnc {
      background: #1f2123 !important;
      color: #c6c3bd;
      border-bottom: 1px solid #383d3f !important;
  }

  .tableview .eyxSnc:hover {
      background: #484a4c !important;
      border: none !important;
      outline: none !important;
      color: #c6c3bd;
  }

  .tableview .iqBCvU {
      background-color: #1f2123;
      color: #c6c3bd;
  }

  .tableview .dQbExm {
      color: #3e3e3f !important;
      fill: #3e3e3f !important;
  }

  .tableview header.sc-bBABsx.bbLEEq .filterSearch {
      background: transparent;
  }

  .tableview header.sc-bBABsx.bbLEEq input#search {
      background: #484a4c;
      border: none !important;
  }

  .tableview .form-control:disabled {
      background-color: #313537;
  }

  .tableview .form-control {
      color: #878787;
      background-color: #181a1b;
      border: 1px solid #5a5d5e !important;
  }

  .tableview .tab-content .card .card-body form .row .col h4 {
      color: #b1aaa0;
  }

  .tableview .tab-content .card .header_line {
      border-top: 1px solid #383d3f !important;
  }

  .tableview .form-check-input {
      background-color: transparent;
      border: 1px solid #495458;
  }

  .tableview .css-13cymwt-control {
      background-color: #181a1b !important;
      color: #ddd !important;
      border: 1px solid #495458;
  }

  .tableview .css-13cymwt-control:hover {
      border: 1px solid #495458;
  }

  .tableview .css-1dimb5e-singleValue {
      color: #c8c3bc !important;
  }

  .tableview .css-t3ipsp-control {
      background-color: #181a1b !important;
      border: 1px solid #495458 !important;
      box-shadow: 0 0 0 1px #484949;
  }

  .tableview .css-1nmdiq5-menu {
      background-color: #181a1b;
      box-shadow: 0px 0px 4px rgba(83, 82, 80, 0.6);
      -moz-box-shadow: 0px 0px 4px rgba(83, 82, 80, 0.6);
      -webkit-box-shadow: 0px 0px 4px rgba(83, 82, 80, 0.6);
  }

  .tableview .css-tr4s17-option {
      background-color: #212425 !important;
      color: #a49e95 !important;
  }

  .tableview .css-d7l1ni-option {
      background-color: #212425 !important;
      color: #a49e95 !important;
  }

  .tableview .css-1u9des2-indicatorSeparator {
      background-color: #495458;
  }

  .tableview .sun-editor .se-btn-tray {
      background: #1b1d1e;
  }

  .tableview .sun-editor {
      border: 1px solid #495458;
  }

  .tableview .sun-editor .se-toolbar {
      outline: 1px solid #495458;
  }

  .tableview .sun-editor-editable {
      color: #a49e95;
      background-color: #181a1b;
  }

  .tableview .sun-editor .se-resizing-bar {
      border-top: 1px solid #495458;
      background-color: #181a1b;
  }

  .tableview .sun-editor button {
      color: #fff;
  }

  .tableview .sun-editor .se-btn:enabled:active {
      background-color: #35393b;
      box-shadow: none;
  }

  .tableview .sun-editor .se-btn:enabled:focus,
  .tableview .sun-editor .se-btn:enabled:hover {
      background-color: #35393b;
      box-shadow: none;
  }

  .tableview .sun-editor .se-wrapper .se-wrapper-inner {
      color: #c6c3bd !important;
  }

  .tableview .form-label,
  .tableview .col-form-label {
      color: #c6c3bd;
      padding-top: 10px;
  }

  .tableview .tab-content>.active .tab-content div {
      color: #8d8b8f;
  }

  
.tableview .input-Filcontainer .TextField {
    border-color: hsl(201.82deg 2.47% 46.1%) !important;
    background: #181a1b;
    color: #8d8b8f;
  }
 
.tableview .accordion-button::after {
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      content: "\F0140";
      background: none;
      transform: none;
      position: relative;
      top: -20px;
  }

  .tableview .modal-header .btn-close {
      background: none;
  }

  .tableview .modal-header .btn-close::before {
      font: normal normal normal 24px/1 "Material Design Icons";
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      content: "\F0156";
      position: relative;
      top: -10px;
      color: #8c8d8c;
      left: -5px;
  }


  .tableview .sun-editor .se-list-layer.se-list-font-size {
      background: #313537;
  }

  .tableview .sun-editor .se-list-layer {
      background: #313537;
  }

  .tableview .sun-editor .se-btn-list:focus,
  .tableview .sun-editor .se-btn-list:hover {
      background-color: #505050;
  }

  .tableview .sun-editor .se-btn-list.default_value {
      background-color: #505050;
  }

  .tableview .sun-editor .se-list-layer.se-list-format ul h1,
  .tableview .sun-editor .se-list-layer.se-list-format ul h2,
  .tableview .sun-editor .se-list-layer.se-list-format ul h3,
  .tableview .sun-editor .se-list-layer.se-list-format ul h4,
  .tableview .sun-editor .se-list-layer.se-list-format ul h5,
  .tableview .sun-editor .se-list-layer.se-list-format ul h6 {
      color: #8c8d8c !important;
  }

.tableview .sun-editor .se-dialog .se-dialog-inner .se-dialog-content {
    background-color: #313537;
}

.tableview .sun-editor .se-dialog button, .tableview .sun-editor .se-dialog input, .tableview .sun-editor .se-dialog label {
    color: #c6c3bd;
    font-weight: 400 !important;
}
.tableview .sun-editor .se-dialog-header .se-modal-title {
    color: #c6c3bd;
}
.tableview .sun-editor .se-dialog-tabs button.active {
    background-color: #313537;
}
.tableview .sun-editor .se-dialog-tabs button {
    background-color: #5f6162;
    border-right: 1px solid #606060;
}
.tableview .sun-editor .se-dialog .se-dialog-inner .se-dialog-header {
    border-bottom: 1px solid #606060;
}
.tableview .sun-editor .se-dialog-tabs {
    border-bottom: 1px solid #606060;
}

.tableview .sun-editor input, .tableview .sun-editor select, .tableview .sun-editor textarea {
    background-color: #181a1b !important;
    color: #ddd !important;
    border: 1px solid #495458;
}
.tableview .sun-editor .se-btn-primary {
    background-color: #0b5ed7;
    border: 1px solid #0b5ed7;
}
.tableview .sun-editor .se-btn-primary:hover {
    background-color: #0650c0;
    border: 1px solid #0650c0;
}
.tableview .sun-editor .se-dialog .se-dialog-inner .se-dialog-btn-revert:hover {
    background-color: #495458;
    border-color: #495458;

}
.tableview .filterSearch .TextField {
    background-color: #181a1b;
    color: #ddd;
}

  //  Table Settings popup box dark theame
  // .css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  //     background-color: #181a1b !important;
  // }
  // .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  //     color: rgb(249 249 249 / 60%);
  // }
  // .MuiFormControlLabel-root .css-ahj2mt-MuiTypography-root {
  //     color: #c6c3bd; 
  // }
  .sun-editor .se-dialog .se-dialog-inner .se-dialog-form .se-input-form {
      padding: 4px !important
  }
