.Footer{
    border-top: 1px solid var(--light-gray);
    background-color: white;
    color: var(--light-grey);
    text-align: center;
    padding: 20px 20px 0px 20px;
    border-top: 1px solid var(--light-gray);
}