.popMain {
    z-index: 1;
    width: 500px;
    --bs-popover-max-width: 397px !important;
}
.my-data-table .dAqNaz div:first-child {
    white-space: break-spaces !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ticketCount {
    all: unset !important;
    color: black !important;
    cursor: pointer !important;
    text-decoration: underline royalblue !important;
}
.popOverButton {
    all: unset;
    cursor: 'pointer'
}
.my-data-table .iSAVrt {
    min-height: 36px !important;
}