.Authorization {

    .MuiInputBase-formControl.MuiInputBase-sizeSmall {
        width: 136px;
    }



    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 0.9rem;
        line-height: 1.8rem;
        letter-spacing: 0;
        left: -1px;
    }



    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        margin: -2px;
        top: -0.5rem;
    }

    .css-1ff8729-MuiInputBase-root-MuiFilledInput-root {
        top: -0.5rem;
        height: 3rem;
    }

    .hrTag {}

}