.textareaStyle { 
    width: '100%';
    padding: 10;  
    padding-left: 35;
    padding-top: 10;
    border-color: '#ccc' 
}

.radioDiv svg{
    width: 0.80em;
    height: 0.80em;
}

.radioDiv label span {
    font-size: 0.900rem;
}