.tablecell {
    padding: 0 20px !important;
    border: 1px solid rgba(224, 224, 224, 1);
}

.additionTableCell {
    width: 40px;
    padding: 0 0px !important;
}

.additionTableCell button {
    border-radius: 0 !important;
    background: #fbfbfb;
}

.radioDiv {
    background: #edeff6;
    width: 100%;
    padding: 0 0.6rem !important;
}

.tabsTable .MuiInputBase-input.MuiOutlinedInput-input {
    height: 1em;
}

.pname {
    margin: 0 !important;
    background: #edeff6;
    padding: 6px 16px;
}


.editBulkCell {
    width: 250%;
    margin-left: 0.5rem;
    padding: 1rem;
    font-family: monospace;
}