.rotate {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.mainAuditConatiner header {
  width: 95%;
  padding-right: 2px;
}
