.actionss{
    display: flex;
    flex-direction: row;
    float: right;
    background: #fff;
    box-shadow: 0 3px 6px rgba(111,111,111,0.2);
    padding: 3px;
    border: 1px solid #dfe1e5;
    border-radius: 0 0 3px 3px;
}
.actionWrapper{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
}