.stepperContainer .css-2royc9 {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem ;
    border-bottom: 1px solid #dee2e6;
}
.stepperContainer .css-8atqhb  {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}
.stepperContainer .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #8f19d2;
    // border: 2px solid black;
    border-radius: 12px;
    animation: blink 1s infinite;
    animation-timing-function: linear;
  }
  
  @keyframes blink {
    0% {
      border-color: #1976d2;
    }
    50% {
      border-color: #8f19d2;
      box-shadow: 0 0 10px #8f19d2; /* Optional: Add a subtle box-shadow effect */
    }
    100% {
      border-color: #1976d2;
    }
  }
  


.custom-modal .Mui-disabled .MuiStepLabel-label {
    color: rgba(0, 0, 0, 0.5) !important;
}
.custom-modal .css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: #000 !important;
}
.custom-modal.tableview .Mui-disabled .MuiStepLabel-label {
    color: rgba(255, 255, 255, 0.3) !important;
}

.custom-modal.tableview .Mui-completed .MuiStepLabel-label {
  color: #fff !important;
}
.custom-modal.tableview .css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: #8f19d2 !important;
}

  