.Sidenav-menuss :hover{
color: skyblue !important;
background-color: black;
}
.sideNav{
    header{
        box-shadow: none !important;
    }
@media (min-width: 600px)
{
.css-3gmmzc-MuiToolbar-root {
    min-height: 56px !important;
}
}
}