
#DarkColumns{

    .css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
        background-color: #181a1b !important;
    }
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
        color: rgb(249 249 249 / 60%);
    }
    .MuiFormControlLabel-root .css-ahj2mt-MuiTypography-root {
        color: #c6c3bd; 
    }
}