center {
    button{
        float: left;
    }
    h1{
        font-size: 180px;
        font-weight: 700;
        color: #4154f1;
        margin-bottom: 0;
        line-height: 150px;
        margin-right: 115px;
    }
  img {
    height: 340px;
  }
}